<div >
    <div class="chef-member">
      <div class="member-img">
        <img src="{{image}}" class="img-fluid" alt="">
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <h4>{{name}}</h4>
        <span>{{role}}</span>
        <p>{{description}}</p>
      </div>
    </div>
  </div><!-- End Chefs Member assets/img/chefs/chefs-1.jpg -->
